@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Noto+Serif:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    scroll-behavior: smooth;
    background: #F0F0F9;
}

.nav-area {
    width: 90%;
    padding: 8px 15px;
    margin: auto;
    background-color: #8600EF;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 20%);
}

nav {
    color: #F6F6F6;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    justify-content: space-between;
    
}

nav .logo {
    color: #F6F6F6;
    font-weight: 600;
    font-size: 16px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    padding: 8px 15px;
    color: #F6F6F6;
    text-decoration: none;
    transition: all .5s;
}

nav ul li a:hover {
    color: #fdfdfd;
    background: #4C2882;
    border-radius: 8px;
}

nav .button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .button a {
    padding: 6px 15px;
    color: #fdfdfd;
    background: #4C2882;
    border-radius: 8px;
    text-decoration: none;
    margin: 0 5px;
    transition: all .5s;
}

nav .button a:hover {
    color: #4C2882;
    background: #fdfdfd;
}

.components {
    width: 92%;
    margin: auto;
    background: #F0F0F9;
}

.components-area {
    background: #fdfdfd;
    margin-top: 20px;
    padding: 20px 40px;
    border-radius: 25px;
}

.components-area .components-area-header {
    display: flex;
    align-items: center;
}

.components-area i {
    font-size: 25px;
    margin-right: 10px;
    padding-top: 5px;
}

.components-area .row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 30px;
}

.components-area h1 {
    display: flex;
    align-items: center;
    font-family: 'Noto Serif';
    font-size: 30px;
}

hr {
    height: 2px;
    background-color: #ccc;
    border: none;
}

.column-one {
    flex-basis: 16%;
    width: 170px;
    height: 220px;
    background: #F0F0F9;
    border-radius: 15px;
    padding: 2%;
    margin-top: 20px;
}

.column-one a {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    padding: 15px 8px;
    color: #111;
    transition: .3s;
}

.column-one a:hover {
    background-color: #fff;
    border-radius: 10px;
}

.column-two {
    flex-basis: 70%;
}

.column-two h2 {
    line-height: 20px;
}

.column-two .input-field input {
    margin-top: 10px;
    width: 20px;
}

.column-two .input-field label {
    font-size: 16px;
    font-weight: 600;
    color: #272727;
}

.column-two .input-field a {
    display: block;
    color: #4C2882;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
}

.column-two .c-t-box {
    display: block;
    color: #272727;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #cccc;
    border-radius: 10px;
    padding: 8px 10px;
    margin-bottom: 20px;
}

.column-two .c-t-box h4 {
    line-height: 10px;
}

.column-two .button {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.column-two .button a:nth-child(1) {
    margin-right: 10px;
}

.column-two .button a {
    font-weight: 500;
    padding: 8px 15px;
    text-decoration: none;
    transition: all .5s;
    margin-right: 10px;
}

.column-two .button a:hover {
    color: #fdfdfd;
    background: #4C2882;
    border-radius: 10px;
}
